<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="Selenium.Support" version="3.141.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net46" />
  <package id="xunit" version="2.4.1" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net46" developmentDependency="true" />
</packages>